._story {
  .firstYear,
  .secondYear,
  .today {
    width: $per;
    height: $vh;
  }
  .firstYear {
    background: rgba(17, 16, 16, 1);
    &::before {
      content: "2020";
      position: absolute;
      font-size: calc($size * 1.2);
      letter-spacing: 30px;
      margin: 0 0 0.2em 0;
      padding: 0;
      font-family: "Maragsa";
      text-align: $c;
      color: #fff;
      transform: rotate(90deg);
      top: 50%;
      left: -6%;
      margin: 0;
    }
    display: $f;
    justify-content: $c;
    align-items: $c;
    position: $re;
    .redLikeblood {
      font-size: $size;
      position: absolute;
      mix-blend-mode: difference;
      color: #fff;
      z-index: 9;
    }
    .firstYear_Images {
      div {
        overflow: hidden;
      }
      display: $f;
      justify-content: $c;
      align-items: $c;
      position: absolute;
      img {
        width: 300px;
        height: 400px;
        max-width: 300px;
        min-width: 300px;
        max-height: 400px;
        min-height: 400px;
        object-fit: $cv;
      }
    }
    &::after {
      content: "ـRedــــــــــــــــــــــLipsـ";
      position: absolute;
      font-size: 2em;
      padding: 0;
      font-family: "Maragsa";
      text-align: $c;
      color: #fff;
      transform: rotate(90deg);
      top: 28%;
      right: 0% !important;
      margin: 0;
    }
    .firstYear_text {
      position: absolute;
      bottom: 0;
      p {
        font-weight: $b;
        color: #fff;
        font-size: 1.9em;
      }
    }
  }
  .secondYear {
    display: $f;
    justify-content: $c;
    align-items: $c;
    position: $re;
    flex-direction: column;
    background: $red;
    color: #fff;
    &::before {
      content: "2021";
      position: absolute;
      font-size: calc($size * 1.2);
      letter-spacing: 30px;
      margin: 0 0 0.2em 0;
      padding: 0;
      font-family: "Maragsa";
      text-align: $c;
      transform: rotate(90deg);
      top: 40%;
      left: 0%;
      margin: 0;
      display: flex;
      mix-blend-mode: difference;
    }
    .secondYearFirstImage {
      position: absolute;
      left: 5%;
      z-index: -1;
      overflow: hidden;
      img {
        width: 440px;
        object-fit: $cv;
      }
    }
    .secondYear_text_Content {
      position: $re;
      left: 10%;
      span {
        font-family: "Maragsa";
        font-size: calc($size * 0.5);
      }
      .secondYear_Quote {
        font-family: $font;
        font-size: calc($size * 0.4);
        font-weight: $b;
        padding: 0px 7px 0 7px;
      }
    }
    .secondYearLastImage {
      position: absolute;
      right: 5%;
      z-index: -1;
      overflow: hidden;
      top: 15%;
      img {
        width: 440px;
        max-width: 400px;
        height: 500px;
        object-fit: $cv;
      }
    }
  }
  .today {
    display: $f;
    justify-content: $c;
    align-items: $c;
    position: $re;
    background: rgba(17, 16, 16, 1);
    .today_Child {
      overflow: hidden;
      width: 960px !important;
      height: 540px !important;
      object-fit: $cv;
      position: $re;
      z-index: -1;
    }
    &::before {
      content: "2022";
      position: absolute;
      font-size: calc($size * 1.2);
      letter-spacing: 30px;
      margin: 0 0 0.2em 0;
      padding: 0;
      font-family: "Maragsa";
      text-align: $c;
      color: #fff;
      transform: rotate(90deg);
      top: 40%;
      left: 0%;
      margin: 0;
      display: flex;
      mix-blend-mode: difference;
    }
    .today_textContent {
      position: absolute;
      mix-blend-mode: difference;
      color: rgb(255, 255, 255);
      i {
        font-family: "Maragsa";
        font-size: 1em;
        right: 0%;
        position: absolute;
      }
      .today_Quote {
        font-family: $font;
        font-size: calc($size * 0.28);
        font-weight: $b;
        padding: 0px 7px 0 7px;
      }
    }
  }
}
