@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");
$f: flex;
$c: center;
$cl: column;
$vh: 100vh;
$per: 100%;
$b: bold;
$cv: cover;
$re: relative;
$sp: space-around;
$perhelf: 80%;
$po: "Poppins", sans-serif;
$ro: "Roboto", sans-serif;
$font: "Darker Grotesque", sans-serif;
$n: none;
$padd: 20px 0 20px 0;
$size: 9em;
$red: #fc1d1d;
.container {
  height: $per;
  width: $per;
}
@font-face {
  font-family: "Maragsa";
  src: url("./fonts/Maragsâ.otf") format("otf"),
    url("./fonts/Maragsâ.ttf") format("ttf"),
    url("./fonts/Maragsa-Display.woff") format("woff"),
    url("./fonts/Maragsa-Display.woff2") format("woff2");
}
@import "./component-styles/Hero.module";
@import "./component-styles/Story.module";
@import "./component-styles/Reviews.module";
